{% extends "follow/_layout" %}



{% block main %}

    <div class="col-md-12">
        <h1>{{ "Activity"|t }}</h1>

        <p class="lead">{{ "Recent entries from users you are following."|t }}</p>

        <hr />

        {% if not currentUser %}
            <p>{{ 'You need to <a href="{url}">login</a> in order to see you followers.'|t({ url: url('follow/login') })|raw }}</p>
        {% else %}
            {% set followingUsers = craft.follow.getFollowing( user.id ) %}

            {% set followingUserIds = [] %}
            {% for followingUser in followingUsers %}
                {% set followingUserIds = followingUserIds|merge([ followingUser.id ]) %}
            {% endfor %}

            {% if followingUserIds|length > 0 %}

                {% set entries = craft.entries.authorId(followingUserIds).find() %}

                {% if entries|length %}
                    {% for entry in entries %}
                        <div class="media">
                            <div class="media-left text-center">

                                {% if entry.author.photoUrl %}
                                    {% set photoUrl = entry.author.photoUrl %}
                                {% else %}
                                    {% set photoUrl = resourceUrl('images/user.gif') %}
                                {% endif %}

                                <img src="{{ photoUrl }}" width="80" class="img-circle img-responsive" />

                                {{ entry.author.fullName }}

                            </div>

                            <div class="media-body">

                                <h4 class="media-heading">{{ entry.title }}</h4>

                                <p>
                                    <small>{{ entry.postDate.nice }}</small>
                                </p>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, unde molestias odit mollitia sint. Similique, nesciunt, sunt, magnam enim asperiores totam consequuntur ratione nemo quam ut vitae accusantium blanditiis esse.</p>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, unde molestias odit mollitia sint. Similique, nesciunt, sunt, magnam enim asperiores totam consequuntur ratione nemo quam ut vitae accusantium blanditiis esse.</p>

                            </div>
                        </div>

                        <hr>
                    {% endfor %}
                {% else %}
                    <p>{{ "Start following some users to see their recent entries."|t }}</p>
                {% endif %}
            {% else %}
                <p>{{ "Start following some users to see their recent entries."|t }}</p>
            {% endif %}

        {% endif %}

    </div>

{% endblock main %}
