{% extends "follow/_layout" %}



{% block main %}

    <div class="col-md-12">
        <h1>Following</h1>

        <p class="lead">Users that you are following.</p>

        <hr>

        {% if not currentUser %}
            <p>You need to <a href="{{url('follow/login')}}">login</a> in order to see the users you follow.</p>
        {% else %}
            {% set users = craft.follow.getFollowing() %}

            {% if users|length > 0 %}

                <p>You are following {{users|length}} users.</p>

                <div class="row">
                    {% for user in users %}
                        <div class="col-md-4">
                            {% include 'follow/_user' with { user: user } %}
                        </div>
                    {% endfor %}
                </div>

            {% else %}
                <p>{{ "You are not following anyone."|t }}</p>
            {% endif %}

        {% endif %}


    </div>

{% endblock main %}
