{% extends "follow/_layout" %}

{% block main %}

    <div class="col-md-12">

        {% if currentUser %}
            <h1>Hello {{currentUser}} !</h1>
        {% else %}
            <h1>Hello, Guest !</h1>
        {% endif %}

        <p>Welcome in the Follow plugin example application. These templates will show you how to use Follow's features on your Craft website.</p>

        <hr>

        <h4>This demo assumes that you have...</h4>

        <ol>
            <li>Installed Follow plugin</li>
            <li>Have some entries and users to play with</li>
        </ol>

        <h4>Plugin Links</h4>

        <ul>
            <li><a href="https://dukt.net/craft/follow">Overview</a></li>
            <li><a href="https://dukt.net/craft/follow/docs">Documentation</a></li>
            <li><a href="https://dukt.net/craft/follow/updates">Updates</a></li>
        </ul>

    </div>

{% endblock main %}
