{% extends "follow/_layout" %}

{% block main %}

    <div class="col-md-12">
        <h1>Users</h1>

        {% if not currentUser %}
            <p>You need to <a href="{{url('follow/login')}}">log in</a> in order to start following users.</p>
        {% endif %}

        {% set users = craft.users.limit(5).find() %}

        <hr>

        {% for user in users %}

            <div class="row">
                <div class="col-md-6">

                    <h2>{{user.email}}</h2>

                    <p>
                        {% if currentUser %}
                            {% if craft.follow.isFollow(user.id) %}
                                <a class="btn btn-sm btn-default" href="{{actionUrl('follow/stopFollowing', {id:user.id})}}">Unfollow</a>
                            {% else %}
                                <a class="btn btn-sm btn-primary" href="{{actionUrl('follow/startFollowing', {id:user.id})}}">Follow</a>
                            {% endif %}
                        {% else %}
                            <a class="btn btn-sm disabled btn-primary" href="#">Follow</a>
                        {% endif %}
                    </p>
                </div>

                <div class="col-md-6">
                    {% set followers = craft.follow.getFollowers(user.id) %}

                    {% if followers|length == 0 %}
                        <h4>0 follower</h4>
                    {% else %}

                        <h4>{{followers|length}} follower{{(followers|length > 1 ? 's':'')}}</h4>

                        <ul>
                            {% for follower in followers %}
                                <li>{{follower.email}}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

            </div>

            {% if not loop.last %}
                <hr />
            {% endif %}
        {% endfor %}
    </div>

{% endblock main %}
